nav {
  width: 80%;
  height: 92px;
  border-bottom: 2px solid $white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    height: 42px;
    width: 92px;
  }

  .lonks {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;

    a {
      text-decoration: none;
      color: $white;
      font-size: 15px;
      font-family: $gill-sans;
    }

    span {
      margin: 0px 15px;
      color: $blue;
      font-size: 24px;
    }
  }

  .navicon {
    display: none;
    color: $white;
    font-size: 120%;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  nav {
    .lonks {
      display: none;
    }
    .navicon {
      display: block;
    }
  }
}
