.tours-holder {
  width: 981px;
  height: 1270px;

  margin: 0 auto;
  margin-top: 50px;

  display: flex;
  flex-direction: column;

  align-items: center;

  .tours-header {
    width: 981px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to right,
        rgba($black, 0.3),
        rgba($black, 0.3)
      ),
      url(../images/tour/tours-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .tours-header-text {
      font-size: 60px;
      color: $white;
    }
  }
  .options-holder {
    height: 1022px;
    width: 818px;

    margin-top: 50px;

    .header {
      font-size: 60px;
      font-family: $robo;
    }
    .nz {
      font-size: 37px;
    }
    .price {
      font-size: 30px;
      margin-top: -90px;
      font-family: $robo;
    }

    .learn-btn {
      width: 133px;
      height: 40px;
      background-color: $blue;
      border: none;
      color: white;
      text-decoration: none;
      font-size: 15px;
      border-radius: 20px;

      font-family: $gill-sans;

      cursor: pointer;
    }
    .option {
      width: 236px;
      height: 304px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      color: $white;
    }
    .bimg {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .row-1 {
      display: flex;
      justify-content: space-between;
      .o1 {
        background-image: linear-gradient(
            to right,
            rgba($black, 0.3),
            rgba($black, 0.3)
          ),
          url(../images/tour/tour-01.jpg);
      }
      .o2 {
        background-image: linear-gradient(
            to right,
            rgba($black, 0.3),
            rgba($black, 0.3)
          ),
          url(../images/tour/tour-02.jpg);
      }
      .o3 {
        background-image: linear-gradient(
            to right,
            rgba($black, 0.3),
            rgba($black, 0.3)
          ),
          url(../images/tour/tour-03.jpg);
      }
    }
    .row-2 {
      display: flex;
      margin-top: 50px;
      justify-content: space-between;
      .o4 {
        background-image: linear-gradient(
            to right,
            rgba($black, 0.3),
            rgba($black, 0.3)
          ),
          url(../images/tour/tour-04.jpg);
      }
      .o5 {
        background-image: linear-gradient(
            to right,
            rgba($black, 0.3),
            rgba($black, 0.3)
          ),
          url(../images/tour/tour-05.jpg);
      }
      .o6 {
        background-image: linear-gradient(
            to right,
            rgba($black, 0.3),
            rgba($black, 0.3)
          ),
          url(../images/tour/tour-06.jpg);
      }
    }
    .row-3 {
      display: flex;
      margin-top: 50px;
      justify-content: space-between;
      .o7 {
        background-image: linear-gradient(
            to right,
            rgba($black, 0.3),
            rgba($black, 0.3)
          ),
          url(../images/tour/tour-07.jpg);
      }
      .o8 {
        background-image: linear-gradient(
            to right,
            rgba($black, 0.3),
            rgba($black, 0.3)
          ),
          url(../images/tour/tour-08.jpg);
      }
      .o9 {
        background-image: linear-gradient(
            to right,
            rgba($black, 0.3),
            rgba($black, 0.3)
          ),
          url(../images/tour/tour-09.jpg);
      }
    }
  }
}

@media all and (max-width: 981px) {
  .tours-holder {
    width: 80%;
    height: 2600px;
    .tours-header {
      width: 110%;
    }

    .options-holder {
      width: 90%;

      .header {
        margin-bottom: 35px;
      }
      .option {
        width: 100%;
        height: 250px;
      }
      .row-1,
      .row-2,
      .row-3 {
        flex-direction: column;
      }
    }
  }
}
